  <%= form_for(task) do |f|%>
    <div>
      <%= f.label :content, 'タスク' %>
      <%= f.text_field :content %>
    </div>
    <div>
      <%= f.label :deadline, '期限' %>
      <%= f.text_field :deadline %>
    </div>
    <%=f.submit '作成' %>
    
  <% end %>