<h1>タスク一覧</h1>

<ul>
  <% @tasks.each do |task| %>
  <li><%= link_to task.id, task_path(task) %>: <%= task.content %> ステータス：<%= task.status %> 期限：<%= task.deadline %></li>
  <% end %>
</ul>

<%= link_to "新規タスク作成", new_task_path %>